.nav {
  grid-area: n;
  background: rgb(25, 215, 237);
  padding: 10px;
  border-radius: 10px;
}

.item {
  padding-bottom: 5px;
}

.item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.item a.active {
  color: rgb(144, 29, 219);
}

.item a:hover {
  color: rgb(18, 124, 156);
}